{{outlet}}

<section>
<h1>here is your data</h1>

{{!-- {{log model}} --}}

{{#csv-table id="issues-table" class='radius left'}}
  <thead> 
    <tr>
      {{#each model.headers as |header|}}
          <th>{{header}}</th> 
      {{/each}}
    </tr> 
  </thead> 
  <tbody> 
  {{#each model.result as |issue|}}
    <tr> 
        <td>Smith</td> 
        <td>John</td> 
        <td>{{issue.customer_email}}@gmail.com</td> 
        <td>$50.00</td> 
        <td>http://www.jsmith.com</td> 
    </tr> 
  {{/each}}
  </tbody> 
{{/csv-table}}

{{!-- {{#each model as |issue|}}
  <div>{{issue.customer_email}}</div>
{{/each}} --}}

<h1>end of data</h1>

</section>