{{outlet}}

<section>
{{#csv-table id="issues-table" class='radius left'}}
  <thead> 
    <tr>
      {{#each model.headers as |header|}}
          <th>{{header}}</th> 
      {{/each}}
    </tr> 
  </thead> 
  <tbody> 
  {{#each model.result as |issue|}}
    <tr> 
      <td>{{issue.customer_name}}</td>
      <td>{{issue.customer_email}}</td>
      <td>{{issue.address}}</td>
      <td>{{issue.description}}</td>
      <td>{{issue.status}}</td>
      <td>{{issue.submission_timestamp}}</td>
      <td>{{issue.closed_timestamp}}</td>
      <td>{{issue.employee_name}}</td>
    </tr> 
  {{/each}}
  </tbody> 
{{/csv-table}}
</section>